################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DCSolution.Web/.vs/DCSolution.Web/v16
/DCSolution.Web/DCSolution.Web/obj
/DCSolution.Web/.vs/DCSolution/v16/.suo
/DCSolution.Web/.vs/DCSolution/config
/DCSolution.Web/DCSolution.Data/bin/Debug/netcoreapp3.1
/DCSolution.Web/DCSolution.Data/obj
/DCSolution.Web/DCSolution.Web/bin/Debug/netcoreapp3.1
